{% extends "base.html" %}
{% block title %} {{ post.title_tag }}  {% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small> By: {{ post.author.username }} -
  {% if user.is_authenticated %}

  <a href=" {% url 'update-post' post.pk%}"> Update </a>
  /
  <a href=" {% url 'delete-post' post.pk%}"> Delete </a>
  <br/>
  {% endif %}
<i> {{ post.post_date }} </i>
</small>
<hr>
</br>
{{ post.body|safe }} {% comment %} safe is used to render html tags {% endcomment %}

</br>
</br>
<a class="btn btn-dark bg-dark" href="{% url 'home' %}">Back</a>
{% endblock %}
